/* stylelint-disable property-no-vendor-prefix */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  background: #000;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  background-image: url('../assets/flower-background.jpg')!important;
  background-repeat: no-repeat!important;
  background-attachment: fixed!important;
  background-position: left!important;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.contact.inner-cover-container {
  margin-top: 2%;
}

.resume.inner-cover-container {
  margin-bottom: 3%;
}

.inner-cover-container {
 display: block;
 width: 40%;
 float: right;
 margin-top: 5%;
 margin-right: 5%;
 margin-bottom: 3%;
}

impallari type, cyreal

.about.inner.cover {
  display: block;
  max-height: 100%;
  max-width: 100%;
  font-size: 22px;
}

.about.inner.cover img {
  height: 300px;
  margin: 2%;
}

.home.inner.cover p {
  font-size: 2rem;
}

.home.inner.cover h1 {
  font-size: 2.8rem;
}

.skills.inner.cover ul {
  margin-left: 3rem;
  font-size: 26px;
}

.skills.inner.cover li {
  float: left;
  clear: both;
}

.interests.inner.cover li {
  float: left;
  clear: both;
}

.interests.inner.cover ul {
  font-size: 26px;
}

.contact.inner.cover textarea {
    height: 15rem;
    width: 85%;
}

.contact.inner.cover input.btn.btn-default {
  font-size: 16px;
  float: left;
  margin-left: 8%;
  margin-top: 10px;
  padding: 9px 22px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-brand a {
  font-family: "Caveat";
  font-size: 32px;
}

nav.navbar.navbar-dark.bg-dark {
  float: right;
  background: #000!important;
  padding-top: 16px;
}

.recommendation-name {
  text-decoration: underline;
}

i.fab.fa-linkedin {
    font-size: 44px;
    margin-top: 10px;
    margin-right: 68%;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff; /* IE8 proofing */
  color: rgba(255, 255, 255, .75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, .25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: 700;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255, 255, 255, .5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle; /* Start the vertical centering */
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1400px;
  }
}
